
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 32px 0;
  background: #28262e;
}

.header-content {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-content img {
  height: 80px;
}

.header-content button {
  margin-left: auto;
  background: transparent;
  border: 0;
}

.header-content button svg {
  color: #999591;
  width: 20px;
  height: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.profile img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.profile div {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  line-height: 24px;
}

.profile span {
  color: #f4ede8;
}

.profile strong {
  color: #ff9000;
}

.profile a {
  text-decoration: none;
  color: #ff9000;
}

.profile a:hover {
  opacity: 0.8;
}

.content {
  max-width: 1120px;
  margin: 64px auto;
  display: flex;
}

.schedule {
  flex: 1;
  margin-right: 120px;
}

.schedule h1 {
  font-size: 36px;
}

.schedule p {
  margin-top: 8px;
  color: #ff9000;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.schedule p span {
  display: flex;
  align-items: center;
}

.schedule p span + span::before {
  content: '';
  width: 1px;
  height: 12px;
  background: #ff9000;
  margin: 0 8px;
}

.next-appointment {
  margin-top: 64px;
}

.next-appointment strong {
  color: #999591;
  font-size: 20px;
  font-weight: 400;
}

.next-appointment div {
  background: #3e3b47;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 10px;
  margin-top: 24px;
  position: relative;
}

.next-appointment div::before {
  position: absolute;
  height: 80%;
  width: 1px;
  left: 0;
  top: 10%;
  content: '';
  background: #ff9000;
}

.next-appointment img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.next-appointment strong {
  margin-left: 24px;
  color: #fff;
}

.next-appointment span {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #999591;
}

.next-appointment span svg {
  color: #ff9000;
  margin-right: 8px;
}

.section {
  margin-top: 48px;
}

.section > strong {
  color: #999591;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid #3e3b47;
  display: block;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.section > p {
  color: #999591;
}

.appointment {
  display: flex;
  align-items: center;
}

.appointment + .appointment {
  margin-top: 16px;
}

.appointment span {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #f4ede8;
  width: 70px;
}

.appointment span svg {
  color: #ff9000;
  margin-right: 8px;
}

.appointment div {
  background: #3e3b47;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 10px;
  margin-left: 24px;
}

.appointment img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.appointment strong {
  margin-left: 24px;
  color: #fff;
  font-size: 20px;
}

.calendar {
  width: 380px;
}

.DayPicker {
  border-radius: 10px;
}

.DayPicker-wrapper {
  padding-bottom: 0;
  background: #3e3b47;
  border-radius: 10px;
}

.DayPicker,
.DayPicker-Month {
  width: 100%;
}

.DayPicker-NavButton {
  color: #999591 !important;
}

.DayPicker-NavButton--prev {
  right: auto;
  left: 1.5em;
  margin-right: 0;
}

.DayPicker-Month {
  border-collapse: separate;
  border-spacing: 8px;
  margin: 16px 0 0 0;
  padding: 16px;
  background-color: #28262e;
  border-radius: 0 0 10px 10px;
}

.DayPicker-Caption {
  margin-bottom: 1em;
  padding: 0 1em;
  color: #f4ede8;
}

.DayPicker-Caption > div {
  text-align: center;
}

.DayPicker-Day {
  width: 40px;
  height: 40px;
}

.DayPicker-Day--available:not(.DayPicker-Day--outside) {
  background: #3e3b47;
  border-radius: 10px;
  color: #fff;
}

.DayPicker-Day--today {
  font-weight: normal;
}

.DayPicker-Day--disabled {
  color: #666360 !important;
  background: transparent !important;
}

.DayPicker-Day--selected {
  background: #ff9000 !important;
  border-radius: 10px;
  color: #232129 !important;
}