.container > header {
    height: 144px;
    background: #28262e;
    display: flex;
    align-items: center;
  }
  
  .container > header div {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
  }
  
  .container > header div svg {
    color: #999591;
    width: 24px;
    height: 24px;
  }
  
  /* Content styles */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -176px auto 0;
    width: 100%;
  }
  
  .content form {
    margin: 80px 0;
    width: 340px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .content form h1 {
    margin-bottom: 24px;
    font-size: 20px;
    text-align: left;
  }
  
  .content form a {
    color: #f4ede8;
    display: block;
    margin-top: 24px;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .content form a:hover {
    color: #dcd2c4; /* This is the shade equivalent of shade(0.2, '#f4ede8') */
  }
  
  .content form input[name='old_password'] {
    margin-top: 24px;
  }
  
  /* AvatarInput styles */
  .avatar-input {
    margin-bottom: 32px;
    position: relative;
    align-self: center;
  }
  
  .avatar-input img {
    width: 186px;
    height: 186px;
    border-radius: 50%;
  }
  
  .avatar-input label {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #ff9000;
    right: 0;
    bottom: 0;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar-input label input {
    display: none;
  }
  
  .avatar-input label svg {
    width: 20px;
    height: 20px;
    color: #312e38;
  }
  
  .avatar-input label:hover {
    background: #cc7300; /* This is the shade equivalent of shade(0.2, '#ff9000') */
  }